:root {
  --green: #009688;
  --light-blue: #8edafc;
  --light-gray: #eaeaea;
  --base-grey: #dbdbd2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-top: 20px;
  background: linear-gradient(var(--green) 15%, var(--base-grey) 15%);
}

.container {
  height: 90%;
  background-color: antiquewhite;
}

.messages-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.messages-list li {
  margin-bottom: 10px;
}

/* common media*/
.bg-light-gray {
  background-color: var(--light-gray);
}
.bg-light-blu {
  background-color: var(--light-blue);
}
.media {
  display: flex;
  align-items: center;
  height: 100%;
}
.media figure {
  height: 70px;
  padding: 5px;
  margin-bottom: 0;
  flex-shrink: 0;
}

.media img {
  height: 90%;
  border-radius: 50%;
}

.media-text {
  margin-bottom: 0;
  margin-left: 0.5rem;
}
.media .media-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 0.5rem;
}

/* Search sidebar */
#search-contacts {
  height: 50px;
  position: relative;
}
#search-contacts .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
#search-contacts input {
  padding-left: 50px;
  border: 0;
  height: 100%;
}

/* SIDE RIGHT Chat Section */

.chat-background {
  background-image: url("/img/mine.jpg");
  background-size: cover;
  background-position: center;
  color: #0e0d0d;
  text-align: center;
}

.sent {
  justify-content: end;
}

.received {
  justify-content: start;
}

.sent .message {
  background-color: #d5f9ba;
}

.received .message {
  background-color: var(--light-gray);
}
.message p {
  margin-bottom: 0;
}

.message time {
  display: block;
  text-align: right;
  font-size: 11px;
  color: rgba(80, 79, 79, 0.815);
}

#user-messagebar {
  background-color: var(--light-gray);
}
