* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    padding-top: 20px;
    background: linear-gradient(to bottom, rgb(0, 149, 135) 80px, rgb(216, 217, 209) 80px);
}

.container {
  min-height: 200px;
  background-color: antiquewhite;
}




/* SIDE LEFT */
.side{
    border: 1px solid black;
    height: 300px;
}


/* SIDE RIGHt */
#chat {
    height: 75%;
    background-image: url('/img/mine.jpg');
    background-size: cover;
    background-position: center;
    color: #0e0d0d; 
    text-align: center;   
}